{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-5">
  {% include 'messages.html' %}
</div>

<div id="index-section1">



  <div class="row">

    <!--Grid column-->
    <div class="col-md-11 mb-4 mt-5 ml-lg-5">
      <p class="instructions"><b>Please read the instructions :</b></p>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="md-v-line"></div><i class="fas fa-laptop mr-5"></i>I. Click on "Start" button to start the timer.
        </li>
        <li class="list-group-item">
          <div class="md-v-line"></div><i class="fas fa-code mr-5"></i>II. All the questions are compulsory. Select
          your answer before clicking "Check" button
        </li>
        <li class="list-group-item">
          <div class="md-v-line"></div><i class="far fa-gem mr-5"></i>III. Click "Finish" button once done to stop the
          timer and select "Show Results" button to view your result.
        </li>
        <li class="list-group-item">
          <div class="md-v-line"></div><i class="far fa-gem mr-5"></i>IV. Select the Difficulty Level and Minimum number
          and Maximum number Of Questions You would like to practice.
        </li>
      </ul>
      <br>
      <form action="{% url 'before_quiz' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <font size="5"><b>Difficulty Level:=</b></font><input type="text" placeholder="enter anything" id="level"
            name="level" />
          <br>
          <font size="5"><b>Minimum Number:=</b></font><input type="text" placeholder="enter anything" id="min"
            name="min" />
          <font size="5"><b>Maximum Number:=</b></font><input type="text" placeholder="enter anything" id="max"
            name="max" />
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>

{% endblock content %}