{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body {
    background-image: url('/static/image/image2.png');
  }
</style>
<div id="section1">

  <div class="container mt-5 pt-5">
    {% for question in page_obj %}
    <form action="" method="post">
      {% csrf_token %}


      <strong>Q. {{question.question}}</strong>
      <!-- <p style="color:red">Hint-1{{question.hint_one}}</p> -->

      <div class="form-check">
        <input class="form-check-input" type="radio" name="option" id="option_one" value="{{question.option_one}}">
        {{question.option_one}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="option" id="option_two" value="{{question.option_two}}">
        {{question.option_two}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="option" id="option_three" value="{{question.option_three}}">
        {{question.option_three}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="option" id="option_four" value="{{question.option_four}}">
        {{question.option_four}}
        </label>
      </div>
      <div class="form-check lower-radio">
        <input class="form-check-input" type="radio" name="option" id="option_five" value="{{question.option_five}}">
        {{question.option_five}}
        </label>
        <!-- {{max}}
        {{level}} -->
      </div>
      <input type="hidden" name="answerLabel" id="answerLabel" value="{{question.answer}}">
      <input type="hidden" name="hint" id="hint11" value="{{question.hint_one}}">
      <input type="hidden" name="hint" id="hint22" value="{{question.hint_two}}">
      <input type="hidden" name="points" id="points" value="{{question.points}}">
      <input type="hidden" name="max" id="max" value="{{max}}">

      <div>{% include 'messages.html' %}</div>
      <input class="btn btn-primary check-btn" type="submit" value="Check" id="check" onclick="displayRadioValue();" />
      <input class="btn btn-primary check-btn" type="button" value="Hint1" id="hint" onclick="displayHintValue();" />
      <input class="btn btn-primary check-btn" type="button" value="Hint2" id="hint1" onclick="displayHint1Value();" />


    </form>
  </div>
  <div class="container" id="result_div1">

  </div>
  <div class="container" id="result_div2">

  </div>
  <div class="container" id="result_div">

  </div>
  {% endfor %}

  <div class="container">
    <div class="pagination-btns">
      <ol class="pagination align-right mr-auto">
        {% if page_obj.has_next %}

        <li class="page-item">
          <a id="next-btn" class="page-link btn btn-success"
            href="{% url 'start_quiz' %}?page={{ page_obj.next_page_number }}&max={{max}}&level={{level}}"
            id="next-button">Next</a>
        </li>

        {% endif %}
        <li class="page-item">
          <input type="button" class="btn btn-danger" id="finish-btn" value="Finish">
          <!-- here -->
        </li>
        <a href="{% url 'result' %}" class="btn btn-success show-result-btn ml-auto" id="show-result-btn">Show
          Results</a>
        {% comment %} <input type="button" name="" id="dummy" value="dummy button"> {% endcomment %}
      </ol>
      <br><br>

      <!-- <input type="text" id="totalScore"> -->
    </div>
  </div>
  <br><br>
  <hr style="height:1px;color:gray;background-color:gray;">

</div>




</div>
</p>
</div>
</div>
<br><br><br><br><br><br>
<center><span style="font-weight:bold;">Question {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
</center>
</div>
{% endblock content %}